<div class="jumbotron">
  <h1>SprintRetro</h1>
  <h3>A place to reflect about sprints</h3>
  <p>SprintRetro is a service to manage Sprint Retrospectives or Sprint Reflections in the Scrum Agile Software Development Framework.</p>
  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-primary btn-lg" role="button" href="#/learn">Learn</a></p>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <a class="btn btn-primary btn-lg" role="button" href="#/reflect">Reflect</a></p>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <a class="btn btn-primary btn-lg" role="button" href="#/buy">Buy</a></p>
    </div>
  </div>
</div>
