<div class='well' ng-controller='ReflectAdminController'>
  <div class='row'>
    <div class='col-md-8'>
      <h3><a href="#/r/:sprint">http://www.sprintretro.io/r/hot-tamale</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <form class="form form-horizontal" role="form">
        <div class="row">
          <div class='col-md-8'>
            <label class="sr-only" for="sprintTitle">Sprint Title</label>
            <input type="text" class="form-control" id="sprintTitle" placeholder="Sprint Title">
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-warning">Close</button>
          </div>
        </div>
        <div class="row">
          <div ng-congroller='DatePickerController' class="col-md-4">
            <p class="input-group">
            <input placeholder="Start Date" type="text" id="startDate" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.model.startDate" is-open="openedStart" min="minDate" max="'2015-06-22'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div ng-congroller='DatePickerController' class='col-md-4'>
            <p class="input-group">
            <input placeholder="End Date" type="text" id="endDate" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.model.endDate" is-open="openedEnd" min="minDate" max="'2015-06-22'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <textarea placeholder="Optional text" class="form-control" rows="3"></textarea>
          </div>
        </div>
      </form>
    </div>
</div>
