<div class='well' ng-controller='SprintController'>
  <div class='row'>
    <div class='col-md-8'>
      <h3><a href="#/r/:sprint">http://www.sprintretro.io/r/hot-tamale</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <h3>Ruby & Rails Sprint</h3>
    </div>
    <div class='col-md-2 col-md-offset-2'>
      <h3>Open</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <h3>Started: 02/17/2014</h3>
    </div>
    <div class='col-md-4 col-md-offset-2'>
      <h3>Ended: 02/24/2014</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <p>
        We need rest. The spirit is willing, but the flesh is spongy and bruised. Good man. Nixon's pro-war and pro-family. Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain. When will that be?
        Can I use the gun? And why did 'I' have to take a cab? For example, if you killed your grandfather, you'd cease to exist! We're rescuing ya. Also Zoidberg.
        I am the man with no name, Zapp Brannigan! Eeeee! Now say "nuclear wessels"! Calculon is gonna kill us and it's all everybody else's fault! Isn't it true that you have been paid for your testimony? You are the last hope of the universe. No! I want to live! There are still too many things I don't own!
      </p>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-2 col-md-offset-6">
      <a class='btn btn-primary'>New Topic</a>
    </div>
  </div>
  <br/>
  <div class='row topic'>
    <div class='col-md-1'>
      <p><a href="#"><span class="glyphicon glyphicon-hand-up"></span></a></p>
      <p><a href="#"><span class="glyphicon glyphicon-hand-down"></span></a></p>
    </div>
    <div class='col-md-6'>
      <p>
        You know, I was God once. Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. We need rest. The spirit is willing, but the flesh is spongy and bruised. Fatal. Tell her she looks thin.
      </p>
      <p>
        <small>
          <a href="#">submitted 4 hours ago by juanmarinbear</a>
        </small>
      </p>
    </div>
  </div>
  <div class='row topic'>
    <div class='col-md-1'>
      <p><a href="#"><span class="glyphicon glyphicon-hand-up"></span></a></p>
      <p><a href="#"><span class="glyphicon glyphicon-hand-down"></span></a></p>
    </div>
    <div class='col-md-6'>
      <p>
        You know, I was God once. Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. We need rest. The spirit is willing, but the flesh is spongy and bruised. Fatal. Tell her she looks thin.
      </p>
      <p>
        <small>
          <a href="#">submitted 4 hours ago by juanmarinbear</a>
        </small>
      </p>
    </div>
  </div>
  <div class='row topic'>
    <div class='col-md-1'>
      <p><a href="#"><span class="glyphicon glyphicon-hand-up"></span></a></p>
      <p><a href="#"><span class="glyphicon glyphicon-hand-down"></span></a></p>
    </div>
    <div class='col-md-6'>
      <p>
        You know, I was God once. Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. We need rest. The spirit is willing, but the flesh is spongy and bruised. Fatal. Tell her she looks thin.
      </p>
      <p>
        <small>
          <a href="#">submitted 4 hours ago by juanmarinbear</a>
        </small>
      </p>
    </div>
  </div>

</div>
